accelerate>=1.2.1
diffusers==0.38.0
safetensors>=0.8.0rc0
albumentations==2.0.3
black==26.3.1
cloudpathlib>=0.21.1
einops==0.7.0
fire>=0.5.0
gradio==6.14.0
isort==5.13.2
lightning==2.5.1
opencv-python==4.9.0.80
peft==0.18.1
pydantic>=2.6.1
pycocotools==2.0.8
scipy>=1.12.0
sentencepiece>=0.2.0
timm==0.9.16
transformers==5.3.0
huggingface-hub==1.7.0
wandb==0.25.1
webdataset>=0.2.86
sentence_transformers==5.3.0